<section data-ng-controller="GamesController" data-ng-init="findOne()">
    <!-- <canvas id="testCanvas" width="960" height="400"></canvas> -->
    <div ng-show="game.player1._id==authentication.user._id">
      <div ng-show="!player2._id">
        Esperando  segundo player
        <img src="modules/core/img/loaders/loader.gif" alt="">
      </div>
      <div ng-show="game.player1._id">
        <div class="PanelInformation col-md-3">
      		<div class="PanelInformation-characterName">
      			<h2>{{game.player1.username}}</h2>
      		</div>
      		<figure class="PanelInformation-characterImage">
            <img ng-show="player2.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
            <img ng-show="player2.character=='Mew'" src="./modules/games/img/mew.PNG" alt="" class="PanelInformation-img">

      		</figure>
      		<div class="PanelInformation-status">
      			<h3>Life</h3>
      			<div class="progress">
      				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=90 aria-valuemin="0" aria-valuemax="100" style="width: 90%">
      					<span class="sr-only">40% Complete (success)</span>
      				</div>
      			</div>
      		</div>
      		<div class="PanelInformation-skills">
      			<ul class="PanelInformation-listSkills">
      				<li class="PanelInformatino-itemSkill">
      					Psyco - circle
      				</li>
      				<li class="PanelInformatino-itemSkill">
      					Surf - swipe
      				</li>
      				<li class="PanelInformatino-itemSkill">
      					Iron - HandClose
      				</li>
      			</ul>
      			<div class="PanelInformation-exit">
      				<button class="PanelInformation-button">
      					Finish
      				</button>
      			</div>
      		</div>

      	</div>
        <div class="PanelBattle col-md-6">
      			<div class="PanelBattle-attack">
      				<span class="PanelBattle-text">
      						Psyco Attack
      				</span>
      			</div>
      	</div>
        <div ng-show="player2._id">
          <div class="PanelInformation col-md-3">
        		<div class="PanelInformation-characterName">
        			<h2>{{player2.username}}</h2>
        		</div>
        		<figure class="PanelInformation-characterImage">
              <img ng-show="game.player1.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
              <img ng-show="game.player1.character=='Mew'" src="./modules/games/img/mew.PNG" alt="" class="PanelInformation-img">

        		</figure>
        		<div class="PanelInformation-status">
        			<h3>Life</h3>
        			<div class="progress">
        				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=90 aria-valuemin="0" aria-valuemax="100" style="width: 90%">
        					<span class="sr-only">40% Complete (success)</span>
        				</div>
        			</div>
        		</div>
        		<div class="PanelInformation-skills">
        			<ul class="PanelInformation-listSkills">
        				<li class="PanelInformatino-itemSkill">
        					Psyco - circle
        				</li>
        				<li class="PanelInformatino-itemSkill">
        					Surf - swipe
        				</li>
        				<li class="PanelInformatino-itemSkill">
        					Iron - HandClose
        				</li>
        			</ul>
        			<div class="PanelInformation-exit">
        				<button class="PanelInformation-button">
        					Finish
        				</button>
        			</div>
        		</div>

        	</div>
        </div>
      </div>
    </div>

    <div ng-show="game.player1._id!=authentication.user._id">
      <div class="PanelInformation col-md-3">
    		<div class="PanelInformation-characterName">
    			<h2>{{player2.username}}</h2>
    		</div>
    		<figure class="PanelInformation-characterImage">
          <img ng-show="game.player1.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
          <img ng-show="game.player1.character=='Mew'" src="./modules/games/img/mew.PNG" alt="" class="PanelInformation-img">

    		</figure>
    		<div class="PanelInformation-status">
    			<h3>Life</h3>
    			<div class="progress">
    				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=90 aria-valuemin="0" aria-valuemax="100" style="width: 90%">
    					<span class="sr-only">40% Complete (success)</span>
    				</div>
    			</div>
    		</div>
    		<div class="PanelInformation-skills">
    			<ul class="PanelInformation-listSkills">
    				<li class="PanelInformatino-itemSkill">
    					Psyco - circle
    				</li>
    				<li class="PanelInformatino-itemSkill">
    					Surf - swipe
    				</li>
    				<li class="PanelInformatino-itemSkill">
    					Iron - HandClose
    				</li>
    			</ul>
    			<div class="PanelInformation-exit">
    				<button class="PanelInformation-button">
    					Finish
    				</button>
    			</div>
    		</div>

    	</div>
      <div class="PanelBattle col-md-6">
          <div class="PanelBattle-attack">
            <span class="PanelBattle-text">
                Psyco Attack
            </span>
          </div>
      </div>
      <div ng-show="game.player1._id">
        <div class="PanelInformation col-md-3">
          <div class="PanelInformation-characterName">
            <h2>{{game.player1.username}}</h2>
          </div>
          <figure class="PanelInformation-characterImage">
            <img ng-show="player2.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
            <img ng-show="player2.character=='Mew'" src="./modules/games/img/mew.PNG" alt="" class="PanelInformation-img">

          </figure>
          <div class="PanelInformation-status">
            <h3>Life</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=90 aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          </div>
          <div class="PanelInformation-skills">
            <ul class="PanelInformation-listSkills">
              <li class="PanelInformatino-itemSkill">
                Psyco - circle
              </li>
              <li class="PanelInformatino-itemSkill">
                Surf - swipe
              </li>
              <li class="PanelInformatino-itemSkill">
                Iron - HandClose
              </li>
            </ul>
            <div class="PanelInformation-exit">
              <button class="PanelInformation-button">
                Finish
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>
</section>
