<section class="view-content" data-ng-controller="GamesController" data-ng-init="findOne()">
    <!-- <canvas id="testCanvas" width="960" height="400"></canvas> -->
    <div ng-show="game.player1._id==authentication.user._id">
      <div ng-show="!player2._id">
        Esperando  segundo player
        <img id="loading" src="modules/core/img/loaders/loader.gif" alt="">
      </div>
      <div ng-show="game.player1._id">
        <div class="PanelInformation col-md-3">
      		<div class="PanelInformation-characterName">
      			<h2>{{game.player1.username}}</h2>
      		</div>
      		<div class="PanelInformation-characterImage">
            <img ng-show="game.player1.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
            <img ng-show="game.player1.character=='Mew'" src="./modules/games/img/Dabura.PNG" alt="" class="PanelInformation-img">
      		</div>
      		<div class="PanelInformation-status">
      			<h3>Life</h3>
      			<div class="progress">
              <progressbar animate="true" value="player1Life" type="success"><b>{{player1Life}}%</b></progressbar>
      			</div>
      		</div>
      		<div class="PanelInformation-skills">
      			<ul class="PanelInformation-listSkills">
      				<li class="PanelInformatino-itemSkill">
      					Psyco - circle
      				</li>
      				<li class="PanelInformatino-itemSkill">
      					Surf - swipe
      				</li>
      				<li class="PanelInformatino-itemSkill">
      					Iron - HandClose
      				</li>
      			</ul>
      			<div class="PanelInformation-exit">
      				<button ng-click="player1Emit()"class="PanelInformation-button">
      					Attack
      				</button>
      			</div>
      		</div>

      	</div>
        <div class="PanelBattle col-md-6">
      			<div class="PanelBattle-attack">
      				<span class="PanelBattle-text">

      				</span>
      			</div>
      	</div>
        <div ng-show="player2._id">
          <div class="PanelInformation col-md-3">
        		<div class="PanelInformation-characterName">
        			<h2>{{player2.username}}</h2>
        		</div>
        		<figure class="PanelInformation-characterImage">
              <img ng-show="player2.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
              <img ng-show="player2.character=='Mew'" src="./modules/games/img/Dabura.PNG" alt="" class="PanelInformation-img">

        		</figure>
        		<div class="PanelInformation-status">
        			<h3>Life</h3>
        			<div class="progress">
                <progressbar animate="true" value="player2Life" type="success"><b>{{player2Life}}%</b></progressbar>
        			</div>
        		</div>
        		<div class="PanelInformation-skills">
        			<ul class="PanelInformation-listSkills">
        				<li class="PanelInformatino-itemSkill">
        					Psyco - circle
        				</li>
        				<li class="PanelInformatino-itemSkill">
        					Surf - swipe
        				</li>
        				<li class="PanelInformatino-itemSkill">
        					Iron - HandClose
        				</li>
        			</ul>
        			<div class="PanelInformation-exit">
        				<!-- <button class="PanelInformation-button">
        					Finish
        				</button> -->
        			</div>
        		</div>

        	</div>
        </div>
      </div>
    </div>




    <div ng-show="game.player1._id!=authentication.user._id">
      <div class="PanelInformation col-md-3">
    		<div class="PanelInformation-characterName">
    			<h2>{{authentication.user.username}}</h2>
    		</div>
    		<figure class="PanelInformation-characterImage">
          <img ng-show="authentication.user.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
          <img ng-show="authentication.user.character=='Mew'" src="./modules/games/img/mew.PNG" alt="" class="PanelInformation-img">

    		</figure>
    		<div class="PanelInformation-status">
    			<h3>Life</h3>
    			<div class="progress">
            <progressbar animate="true" value="player2Life" type="success"><b>{{player2Life}}%</b></progressbar>
    			</div>
    		</div>
    		<div class="PanelInformation-skills">
    			<ul class="PanelInformation-listSkills">
    				<li class="PanelInformatino-itemSkill">
    					Psyco - circle
    				</li>
    				<li class="PanelInformatino-itemSkill">
    					Surf - swipe
    				</li>
    				<li class="PanelInformatino-itemSkill">
    					Iron - HandClose
    				</li>
    			</ul>
    			<div class="PanelInformation-exit">
    				<button ng-click="player2Emit()" class="PanelInformation-button">
    					Attack
    				</button>
    			</div>
    		</div>

    	</div>
      <div class="PanelBattle col-md-6">
          <div class="PanelBattle-attack">
            <span class="PanelBattle-text">

            </span>
          </div>
      </div>
      <div ng-show="game.player1._id">
        <div class="PanelInformation col-md-3">
          <div class="PanelInformation-characterName">
            <h2>{{game.player1.username}}</h2>
          </div>
          <figure class="PanelInformation-characterImage">
            <img ng-show="game.player1.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="PanelInformation-img" />
            <img ng-show="game.player1.character=='Mew'" src="./modules/games/img/dabura.PNG" alt="" class="PanelInformation-img">

          </figure>
          <div class="PanelInformation-status">
            <h3>Life</h3>
            <div class="progress">
              <progressbar animate="true" value="player1Life" type="success"><b>{{player1Life}}%</b></progressbar>
            </div>
          </div>
          <div class="PanelInformation-skills">
            <ul class="PanelInformation-listSkills">
              <li class="PanelInformatino-itemSkill" ng-show="game.player1.character=='Goku'">
                Kame hame ha - circle
              </li>
              <li class="PanelInformatino-itemSkill" ng-show="game.player1.character=='Goku'">
                Psyco - circle
              </li>
              <li class="PanelInformatino-itemSkill">
                Surf - swipe
              </li>
              <li class="PanelInformatino-itemSkill">
                Iron - HandClose
              </li>
            </ul>
            <div class="PanelInformation-exit">
              <!-- <button class="PanelInformation-button">
                Finish
              </button> -->
            </div>
          </div>

        </div>
      </div>

    </div>
</section>
