<section class="view-content" data-ng-controller="GamesController" data-ng-init="getFightList()">
	<div ng-show="authentication.user.character=='Mew'" class="Character">
		<div class="title" >
	    <h1>Battle Room</h1>
	  </div>
		<div class="Character-imageContainer col-md-12">
			<div>
				<img src="./modules/games/img/Dabura.png" alt="" class="Character-image" />
			</div>
		</div>
		<div class="Character-description col-md-12 center">
			<div class="Character-name">
				<p class="Character-NameText">Dabura</p>
			</div>
		</div>
    </div>
	</div>
	<div ng-show="authentication.user.character=='Goku'" class="Character">
		<div class="title" >
	    <h1>Battle Room</h1>
	  </div>
		<div class="Character-imageContainer col-md-12">
			<div>
				<img src="./modules/games/img/Goku.png" alt="" class="Character-image" />
			</div>
		</div>
		<div class="Character-description col-md-12 center">
			<div class="Character-name">
				<p class="Character-NameText">Goku </p>
			</div>
		</div>
	</div>
  <div class="BattleRoom">
		<button ng-click="create()" class="btn btn-green">Create Battle</button>
    <div ng-repeat="battle in games" class="BattleRoom-userInformation">
      <div class="BattleRoom-userContainer col-md-6">
				<br><br><br>
        <p class="BattleRoom-name">
          {{battle.player1.username}}
        </p>
      </div>
      <div class="BattleRoom-characterContainer col-md-6">
        <div class="BattleRoom-avatarContainer col-md-12">
					<a href="/#!/fight/{{battle._id}}">
						<img ng-show="battle.player1.character=='Goku'" src="./modules/games/img/Goku.png" alt="" class="BattleRoom-avatarImg" />
	          <img ng-show="battle.player1.character=='Mew'" src="./modules/games/img/Dabura.PNG" alt="" class="BattleRoom-avatarImg">
					</a>
        </div>
        <span class="BattleRoom-name col-md-1">{{battle.playe1.character}}</span>
      </div>
    </div>

  </div>
</section>
