<section data-ng-controller="GamesController" data-ng-init="mainView()">
	<div class="Character">
	  <figure class="Character-imageContainer col-md-4">
      <img src="./modules/games/img/mew.PNG" alt="" class="Character-image" />
    </figure>
    <div class="Character-description col-md-8">
      <div class="Character-name">
        <span class="Character-NameText">Mew </span>
      </div>
      <div class="Character-skills">
        <div class="Character-skillName">
          <span class="Character-text">Psyco</span>
        </div>
        <div class="Character-skillName">
          <span class="Character-text">Top</span>
        </div>
      </div>
    </div>
	</div>
  <div class="title" >
    <h1>Battle Room</h1>
  </div>
  <div class="BattleRoom">
    <div class="BattleRoom-userInformation">
      <div class="BattleRoom-userContainer col-md-3">
        <span class="BattleRoom-name">
          Adrian Meza
        </span>
      </div>
      <div class="BattleRoom-characterContainer col-md-9">
        <figure class="BattleRoom-avatarContainer col-md-1">
          <img src="./modules/games/img/mew.PNG" alt="" class="BattleRoom-avatarImg">
        </figure>
        <span class="BattleRoom-name col-md-1">Mew</span>
      </div>
    </div>
    <div class="BattleRoom-userInformation">
      <div class="BattleRoom-userContainer col-md-3">
        <span class="BattleRoom-name">
          Adrian Meza
        </span>
      </div>
      <div class="BattleRoom-characterContainer col-md-9">
        <figure class="BattleRoom-avatarContainer col-md-1">
          <img src="./modules/games/img/mew.PNG" alt="" class="BattleRoom-avatarImg">
        </figure>
        <span class="BattleRoom-name col-md-1">Mew</span>
      </div>
    </div>
    <button>Create Battle</button>
  </div>
</section>
