<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Select your character</h3>
	<div class="col-md-offset-3 col-md-6">
		<form name="userForm" data-ng-submit="saveCharacter(userForm.$valid)" autocomplete="off">
			<fieldset>
        <div class="btn-group">
          <label class="btn btn-success col-md-6" ng-model="user.character" btn-radio="'Goku'" uncheckable><img class="img-responsive col-md-12" src="/modules/users/img/Goku.png" alt=""></label>
          <label class="btn btn-success col-md-6" ng-model="user.character" btn-radio="'Mew'" uncheckable><img class="img-responsive col-md-12"src="/modules/users/img/mew.PNG" alt=""></label>
        </div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
